<!-- add task modal -->
<!-- Modal Structure -->
<div id="add-task-modal" class="modal overflowInit">
    <div class="modal-content">

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <!--title-->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">rate_review</i>
                        <input id="title" type="text" class="validate">
                        <label for="title">Title</label>
                    </div>

                    <!--description-->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="description" class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>

                    <!--date-->
                    <div class="input-field col s6">
                        <i class="material-icons prefix">date_range</i>
                        <input id="date" type="text" class="datepicker">
                        <label for="date">Date</label>
                    </div>

                    <!--time-->
                    <div class="input-field col s6">
                        <i class="material-icons prefix">access_alarm</i>
                        <input id="time" type="tel" class="timepicker">
                        <label for="time">Time</label>
                    </div>

                    <!--user-->
                    <div id="usersDropDown" class="input-field col s6">
                        <i class="material-icons prefix">perm_identity</i>
                        <select id="user">
                            <option value="" disabled selected>Choose user</option>
                            <% users.forEach(u=>{ %>
                            <option value="<%= u.id %>"><%= u.name %></option>
                            <% }) %>
                        </select>
                        <label for="user">User</label>
                    </div>

                    <!--status-->
                    <div class="input-field col s6">
                        <i class="material-icons prefix">vibration</i>
                        <select id="status">
                            <option value="" disabled selected>Choose status</option>
                            <% status.forEach(s=>{ %>
                            <option value="<%= s.id %>"><%= s.name %></option>
                            <% }) %>
                        </select>
                        <label>Status</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#!" id="saveTaskBtn" class="modal-close waves-effect waves-green btn blue">
                        <i class="material-icons">send</i> Save</a>
                </div>
            </form>
        </div>
    </div>
</div>