
<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">
                    Hack your future programming language school, Copenhagen Denmark. MySQL course - week 1 -
                    30/09/2018 Assignment. Teachers: Flemming Andersen & Marta Matos.
                </p>


            </div>
            <div class="col l6 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text"
                           href="https://github.com/HackYourFuture-CPH/databases/tree/master/lesson1#homework">homework
                            question</a></li>
                    <li><a class="white-text"
                           href="https://github.com/HackYourFuture-CPH/databases/blob/master/lesson1/lesson-data.sql">sql
                            database</a></li>
                    <li><a class="white-text" href="https://hackyourfuture.dk/">hackyourfuture</a></li>
                    <li><a class="white-text" href="https://zuhair-taha-cv.herokuapp.com">CV</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Developer <a class="orange-text text-lighten-3" href="mailto:admin@tahasoft.com?Subject=MySQL-assignment">Zuhair
                Taha</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="dist/app.js"></script>

</body>
</html>
