<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row center">

            <div class="row">
                <% for(i=0;i<=2;i++){ %>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-content">
                            <i class="material-icons large">group</i>
                            <span class="card-title">USERS</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>


        </div>
    </div>
</div>