<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/status/api">status</a></li>
    <li><a href="/task/api">tasks</a></li>
    <li class="divider"></li>
    <li><a href="/user/api">users</a></li>
</ul>
<nav class="blue">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">
            <i class="material-icons large">library_books</i> TASKS
        </a>
        <ul class="right hide-on-med-and-down">
            <% const cls1 = (title === 'MySQL - Week 1') ? 'active' : '' %>
            <% const cls2 = (title === 'MySQL - Week 2') ? 'active' : '' %>
            <li class="<%= cls1 %>"><a href="/">Week 1 Homework</a></li>
            <li class="<%= cls2 %>"><a href="/w2">Week 2 Homework</a></li>
            <!-- Dropdown Trigger -->
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                    API<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>

