<div id="w2-banner" class="parallax-container h250">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center white-text f100">Tasks Manager</h1>
        </div>
    </div>
    <div class="parallax">
        <img src="images/parallax1.jpg" alt="Unsplashed background img 1"></div>
</div>