<!--
// to add a new task
addNewTask(){
}
// to change the title of a task
changeTaskTitle(){
}
// to change the due date of a task
changeTaskDueDate(){
}
// to change the status of a task
changeTaskStatus(){
}
// to mark a task as completed
markTaskAsCompleted(){
}
// to delete a task
deleteTask(){
}
// to delete a user
deleteUser(){
}
-->

<div class="card tasks-container">
    <a id="add-task-btn" href="#add-task-modal"
       class="btn-floating btn-large waves-effect waves-light red modal-trigger z-depth-3">
        <i class="material-icons">add</i>
    </a>
    <div id="tasks-list"></div>
</div>


